.gamesArticle	{
	background-color: orange;
	font-family: Arial;
	font-size: 1em;
	color: white;
	line-height: 1.25em;
	padding: 0;
}

.rapArticle	{
	background-color: blue;
	font-family: Impact;
	font-size: 3em;
	color: yellow;
	line-height: 1em;
	padding: .5em;
}

.musicArticle	{
	background-color: green;
	font-family: "Comic Sans MS";
	font-size: 1.5em;
	color: purple;
	line-height: 1.5em;
	padding: 1em;
}

.techArticle	{
	background-color: yellow;
	font-family: "Lucida Console";
	font-size: 2.5em;
	color: blue;
	line-height: 2em;
	padding: 1.5em;
}

.clothingArticle	{
	background-color: purple;
	font-family: Verdana;
	font-size: 2em;
	color: pink;
	line-height: 2.5em;
	padding: 2em;
}