.gamesArticle	{
	background-color: orange;
}

.rapArticle	{
	background-color: blue;
}

.musicArticle	{
	background-color: green;
}

.techArticle	{
	background-color: yellow;
}

.clothingArticle	{
	background-color: purple;
}