.gamesArticle	{
	background-color: orange;
	font-family: Arial;
	font-size: 1em;
}

.rapArticle	{
	background-color: blue;
	font-family: Impact;
	font-size: 3em;
}

.musicArticle	{
	background-color: green;
	font-family: "Comic Sans MS";
	font-size: 1.5em;
}

.techArticle	{
	background-color: yellow;
	font-family: "Lucida Console";
	font-size: 2.5em;
}

.clothingArticle	{
	background-color: purple;
	font-family: Verdana;
	font-size: 2em;
}